<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title><%= doctitle %></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script src="/bootstrap/js/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/fontawesome/web-fonts-with-css/css/fontawesome-all.css">
      <link rel="stylesheet" href="/css.css">
  </head>
  <body>
    <!-- some checkup -->
    <% if ( errorlogin.length > 0 || notlogin.length > 0) { %>
      <script>
        $(document).ready(function(){
          $('#login').modal('toggle');
        });
      </script>
    <% }; %>
    <% if ( errorregister.length > 0 ) { %>
      <script>
        $(document).ready(function(){
          $('#register').modal('toggle');
        });
      </script>
    <% }; %>
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/campgrounds">Campgrounds</a></li>
                <% if(typeof user != 'undefined'){ %>
                  <li><a href="/campgrounds/new">New Campground</a></li>
                <% } %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if(typeof user == 'undefined'){ %>
                  <li><a href="#login" data-toggle="modal" data-target="#login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                  <li><a href="#register" data-toggle="modal" data-target="#register"><i class="fas fa-user-plus"></i>Register</a></li>
                <% } else { %>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>Login as, <%= user.username %><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/profils/<%= user.id %>"><i class="glyphicon glyphicon-home"></i> Profile</li>
                        <li><a href="#"><i class="fas fa-key"></i> Change Password</a></li>
                      </ul>
                    </li>
                  <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                <% } %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        <!-- Modal for Login -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h3 class="modal-title">Login</h3>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" action="/login" method="POST">
                      <div class="form-group">
                        <label for="usernamelogin" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="usernamelogin" name="username" placeholder="username" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="passwordlogin" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="passwordlogin" name="password" placeholder="password" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="remember" value="true"> Remember me
                            </label>
                          </div>
                        </div>
                      </div>
                      <% if ( errorlogin.length > 0) { %>
                        <div class="alert alert-danger" role="alert"><b>Oh snap!</b> <%= errorlogin %>, try again!</div>
                      <% }; %>
                      <% if (notlogin.length > 0) { %>
                        <div class="alert alert-danger" role="alert"><b>Oh snap!</b> <%= notlogin %></div>
                      <% }; %>
                      
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal Login End -->

      <!-- Modal for Register-->
      <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Register</h3>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" action="/register" method="POST">
                    <div class="form-group">
                      <label for="username" class="col-sm-2 control-label">Username:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">Email:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password2" class="col-sm-2 control-label">Confirm</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="confirm password" required>
                      </div>
                    </div>
                    <% if ( errorregister.length > 0 ) { %>
                      <div class="alert alert-danger" role="alert"><b>Oh snap!</b> <%= errorregister %>, try again!</div>
                    <% }; %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Sign up</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Register End -->


    <div class="container">
      <% if (error && error.length > 0 ) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0 ) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>
